*{
                margin:0px;
                padding:0px;
            }
            body{
                background: url(../IMG/bgnfl.png);
                font-family: 'Bree Serif', serif;
                font-size: 20px;
            }
            div{
                background: #f0f0f0;
                color:#0f0f0f;
            }
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 25px;
                color:#000;
            }
            #in{
                position: absolute;
                top: 8%; 
                left: 25%;
                padding:50px;
                background: #fff;
            }
            td{
                padding:10px;
            }
            .divid{
                position: absolute; 
                width: 80%; 
                top: 10%; 
                left: 25%;
                padding: 30px;
                background: #0f0f0f;
                color: #fff;
            }
            .divid form table{
                background: #fff;
            }
/*Resultados*/
            
.wrap {
    width: 90%;
    max-width: 1000px;
    margin: 0 20px;
    /*margin: auto;*/
}
 
.formulario h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}
 
.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
#generarL{
    
    position: absolute;
    left: 20%;
    top: 10%;
    width: 300px;
    background:  #4CAF50;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
  
}

#generarL:hover{transition: .3s;cursor: pointer; background: rgba(0,0,0,.5);}

#generarL2{
   
    position: absolute;
    top: 10%;
    left: 60%;
    bottom: 0;
    width: 300px;
    height: 50px;
    background:  #4CAF50;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    
}
#generalL3{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 5%;
    background:  #4CAF50;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    
}
#asdasd{
    position: absolute;
    left: 45%;
    top: 10%;
}
#generarL2:hover{transition: .3s;cursor: pointer; background: rgba(0,0,0,.5);}
ul.sidenav {
    display: list-item;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #0f0f0f;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li{
    padding-top: 4px;
    padding-bottom: 4px;
}
ul.sidenav li a {
    display: block;
    color: #f0f0f0;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #35140f;
    color: white;
    transition-duration: .3s;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
    transition-duration: .3s;
    
}
#kk{
    transition: .5s;
}
#kk:hover{
    
    margin-bottom: 80px;
}


ul.subsidenav {
    
    transition: .5s;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    
    background-color: lightgrey;
    position: fixed;
    height: auto;
    overflow: auto;
}
ul.subsidenav li:first-child{
    
    border-top: 1px solid black;
}
ul.subsidenav li:last-child{
    
    border-bottom: 1px solid black; 
}
ul.subsidenav li{
    padding-top: 3px;
    padding-bottom: 0px;
}
ul.subsidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.subsidenav li a.active {
    background-color: #2zxD50;
    color: white;
    transition-duration: .3s;
}

ul.subsidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
    transition-duration: .3s;
}


ul.sidenav li:hover .subsidenav{
    
    display: block;
}